[{tasker,
  [{tasks, [[{name, "Example Task (regular date check)"},
             {cmd, "date"},
             {args, []},
             {interval, 5}],
            [{name, "Example Task (regular test message)"},
             {cmd, "echo"},
             {args, ["this is a test"]},
             {interval, 10}]]
  }]
}].