[{tasker,
  [{tasks, [[{name, "Sync music between computers (rsync)"},
             {cmd, "rsync"},
             {args, ["-a",
                     "/Users/oubiwann/Dropbox/Music/*",
                     "musicserver@music.local:/home/musicserver/files/"]},
             {interval, 86400}]] % once a day (* 24 60 60)
  }]
}].

